<h2>Params</h2>

<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div formGroupName="params">
      <mat-form-field>
        <input
          matInput
          type="number"
          placeholder="Race Count"
          formControlName="raceCount"
          min="1"
          max="20"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="number"
          placeholder="IT Count"
          formControlName="itCount"
          min="0"
          max="12"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="number"
          placeholder="Startlist Count"
          formControlName="startlistCount"
          min="2"
          max="200"
          required
        />
      </mat-form-field>

      <mat-radio-group formControlName="createOption">
        <mat-radio-button [value]="0" class="radio">New</mat-radio-button>
        <mat-radio-button [value]="1" class="radio">Recreate</mat-radio-button>
      </mat-radio-group>
    </div>

    @if (BOManager.BigButtonRow) {
      <div vclass="button-row">
        <button mat-button type="button" (click)="toggleJson()">Debug</button>
        <button mat-raised-button type="button" class="btn" (click)="reset()">Reset</button>
        <button mat-raised-button type="button" class="btn" (click)="patch()">Patch</button>
        <button
          mat-raised-button
          type="submit"
          class="btn"
          color="accent"
          type="submit"
          [disabled]="!form.valid"
        >
          Submit
        </button>
      </div>
    }

    @if (!BOManager.BigButtonRow) {
      <ng-container>
        @if (BOManager.IsDebug) {
          <button mat-icon-button type="button" (click)="toggleJson()">
            <mat-icon>info</mat-icon>
          </button>
        }
        <button mat-icon-button type="button" (click)="reset()" matTooltip="reset form">
          <mat-icon>clear</mat-icon>
        </button>
        <button
          mat-icon-button
          type="button"
          (click)="patch()"
          matTooltip="patch form with data from current event"
        >
          <mat-icon>undo</mat-icon>
        </button>
        <button
          mat-icon-button
          type="submit"
          (click)="submit()"
          matTooltip="submit, create new event"
        >
          <mat-icon color="accent">send</mat-icon>
        </button>
      </ng-container>
    }
  </form>
</div>

<p></p>

@if (JsonVisible) {
  <pre>{{ form.value | json }}</pre>
}
