<h2>Event Params Quick</h2>

<div class="button-row">
  <button mat-raised-button (click)="raceDelta(-1)">R-</button>
  <button mat-raised-button (click)="noop()">{{RaceCount}}</button>
  <button mat-raised-button (click)="raceDelta(1)">R+</button>
</div>
<div class="button-row">
  <button mat-raised-button (click)="itDelta(-1)">IT-</button>
  <button mat-raised-button (click)="noop()">{{ITCount}}</button>
  <button mat-raised-button (click)="itDelta(1)">IT+</button>
</div>
<div class="button-row">
  <button mat-raised-button (click)="slDelta(-1)">S-</button>
  <button mat-raised-button (click)="noop()">{{StartlistCount}}</button>
  <button mat-raised-button (click)="slDelta(1)">S+</button>
</div>
<div class="button-row">
  <button mat-raised-button (click)="reset()">Reset</button>
  <button mat-raised-button (click)="patch()">Patch</button>
  <button mat-raised-button (click)="submit()">Submit</button>
  <mat-checkbox class="checkbox" [(ngModel)]="newEvent">New Event</mat-checkbox>
</div>
