<h2>
  Race
  <span id="race-name-label">( R{{ race }} - IT{{ timepoint }} )</span>
</h2>

<table id="race-table" cellspacing="0" cellpadding="1">
  @for (row of ColTable.Rows; track row) {
    <ng-container>
      <tr>
        @for (tc of row.Cols; track tc; let i = $index) {
          <ng-container>
            @if (tc.th) {
              <th
                [ngStyle]="{ 'background-color': tc.color, 'text-align': tc.align }"
                (click)="thClick(i)"
              >
                {{ tc.text }}
              </th>
            }
            @if (tc.td) {
              <td [ngStyle]="{ 'background-color': tc.color, 'text-align': tc.align }">
                {{ tc.text }}
              </td>
            }
          </ng-container>
        }
      </tr>
    </ng-container>
  }
</table>

@if (BOManager.BigButtonRow) {
  <div class="button-row">
    @if (BOManager.IsDebug) {
      <button mat-button (click)="clearRace()">Clear R</button>
    }
    @if (BOManager.IsDebug) {
      <button mat-button (click)="clearTP()">Clear IT</button>
    }
    <button mat-button (click)="calc()">Calc</button>
    <button mat-button (click)="show()">Show</button>
    @if (BOManager.IsDebug) {
      <button mat-button (click)="sortOrderClear()">SO</button>
    }
    @if (BOManager.IsDebug) {
      <button mat-button (click)="toggleLayout()">Layout</button>
    }
  </div>
}

@if (!BOManager.BigButtonRow) {
  <ng-container>
    @if (BOManager.IsDebug) {
      <button mat-icon-button (click)="clearRace()">
        <mat-icon>delete</mat-icon>
      </button>
    }
    @if (BOManager.IsDebug) {
      <button mat-icon-button (click)="clearTP()">
        <mat-icon>delete_outline</mat-icon>
      </button>
    }
    @if (BOManager.IsDebug) {
      <button mat-icon-button (click)="calc()">
        <mat-icon color="primary">functions</mat-icon>
      </button>
    }
    @if (BOManager.IsDebug) {
      <button mat-icon-button (click)="show()">
        <mat-icon color="primary">filter_vintage</mat-icon>
      </button>
    }
    @if (BOManager.IsDebug) {
      <button mat-icon-button (click)="sortOrderClear()">
        <mat-icon>sort</mat-icon>
      </button>
    }
    @if (BOManager.IsDebug) {
      <button mat-icon-button (click)="toggleLayout()">
        <mat-icon>texture</mat-icon>
      </button>
    }
    @if (BOManager.IsDebug) {
      <button mat-icon-button (click)="toggleLegend()">
        <mat-icon>camera</mat-icon>
      </button>
    }
  </ng-container>
}

@if (LegendVisible) {
  <app-icon-bar-legend [caption]="'Race'" [bar]="legend"></app-icon-bar-legend>
}

@if (!LegendVisible) {
  <p></p>
}
