<div class="button-row">
  <button mat-raised-button id="b0M" (click)="clickM()">M</button>
  <button mat-raised-button id="b00" (click)="click0()">{{ bv0 }}</button>
  <button mat-raised-button id="b0P" (click)="clickP()">P</button>
</div>

<div class="button-row">
  <button mat-raised-button id="b01" (click)="click1()">{{ bv1 }}</button>
  <button mat-raised-button id="b02" (click)="click2()">{{ bv2 }}</button>
  <button mat-raised-button id="b03" (click)="click3()">{{ bv3 }}</button>
</div>

<div class="button-row">
  <button mat-raised-button id="b04" (click)="click4()">{{ bv4 }}</button>
  <button mat-raised-button id="b05" (click)="click5()">{{ bv5 }}</button>
  <button mat-raised-button id="b06" (click)="click6()">{{ bv6 }}</button>
</div>

<div class="button-row">
  <button mat-raised-button id="b07" (click)="click7()">{{ bv7 }}</button>
  <button mat-raised-button id="b08" (click)="click8()">{{ bv8 }}</button>
  <button mat-raised-button id="b09" (click)="click9()">{{ bv9 }}</button>
</div>
