<mat-card class="scroll-card">
  <mat-card-title>Conn</mat-card-title>
  <mat-card-content>
    @if (wantInput) {
      <div id="input-button-row">
        <button mat-raised-button (click)="testInput()" [style.background-color]="ledColorIn">
          In
        </button>
        <button mat-raised-button color="primary" (click)="connectInput()">on</button>
        <button mat-raised-button color="primary" (click)="disconnectInput()">off</button>
        <button mat-raised-button (click)="inputNettoClick()">netto</button>
        <button mat-raised-button color="warn" (click)="clearBtnClick()">clear</button>
        <button mat-raised-button [disabled]="!canWatch" (click)="toggleWatchNetto()">
          {{ isWatching ? 'stop watching' : 'watch' }}
        </button>
      </div>
    }

    @if (wantOutput) {
      <div id="output-button-row">
        <button mat-raised-button (click)="testOutput()" [style.background-color]="ledColorOut">
          Out
        </button>
        <button mat-raised-button color="primary" (click)="connectOutput()">on</button>
        <button mat-raised-button color="primary" (click)="disconnectOutput()">off</button>
        <button mat-raised-button (click)="outputNettoClick()">netto</button>
        <button mat-raised-button [disabled]="!canWatch" (click)="toggleWatchNetto()">
          {{ isWatching ? 'stop watching' : 'watch' }}
        </button>
        <button mat-raised-button (click)="toggleDropping()">
          {{ isDropping ? 'Dropping' : 'Active' }}
        </button>
      </div>
    }

    @if (wantInput || wantOutput) {
      <ul>
        <li>flash: {{ flashMsg }}</li>
        <li>i data: {{ dataMsgIn }}</li>
        <li>o data: {{ dataMsgOut }}</li>
        <li>error: {{ errorMsg }}</li>
      </ul>
    }

    @if (wantInput || wantOutput) {
      <div id="response-text">response-text</div>
    }
  </mat-card-content>
</mat-card>
