/* You can add global styles to this file, and also import other style files */

body { margin: 0; }

.scroll-card {
    max-width: 700px;
    max-height: 700px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}