.radio-button {
    margin-right: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.checkbox-row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn {
    margin-right: 4px;
}

.form-container {
    margin-bottom: 20px;
}
